---
// Importación de iconos
import MapPinIcon from "@icons/MapPinIcon.astro";
import UserCircleIcon from "@icons/UserCircleIcon.astro";

// Props para el componente
export interface TimelineItem {
  date: string;
  title: string;
  description: string;
  companyLogo?: string;
  role?: string;
  location?: string;
}

export interface TimelineProps {
  items: TimelineItem[];
}

// Desestructuración de props
const { items } = Astro.props;
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
  {
    items.map((item, index) => (
      <li
        class={`mb-10 ms-4 ${index === items.length - 1 ? "" : "border-b pb-4"}`}
      >
        {item.companyLogo && (
          <div class="absolute w-9 h-9 bg-gray-200 ml-2 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700">
            <img
              src={item.companyLogo}
              alt="logo de la empresa"
              class="rounded-full"
            />
          </div>
        )}
        <time class="mb-1 ml-8 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">
          {item.date}
        </time>
        <h3 class="text-lg ml-8 font-semibold text-gray-900 dark:text-white">
          {item.title}
        </h3>
        <p class="mb-4 ml-8 text-base font-normal text-gray-500 dark:text-gray-400">
          {item.description}
        </p>
        {item.role && (
          <div class="ml-8 mb-2 inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-100 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700">
            <UserCircleIcon class="w-5 h-5 mr-2" /> {item.role}
          </div>
        )}
        {item.location && (
          <div class="inline-flex lg:ml-0 md:ml-0 ml-8  items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-100 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700">
            <MapPinIcon class="w-5 h-5 mr-2" /> {item.location}
          </div>
        )}
      </li>
    ))
  }
</ol>
