---
// Props que el componente espera recibir
interface Props {
  imageUrl: string;
  imageAlt: string;
  title: string;
  description: string;
  skills: { name: string; icon: any }[]; // Acepta un componente como `icon`
  githubLink: string;
  demoLink: string;
}

const {
  imageUrl,
  imageAlt,
  title,
  description,
  skills,
  githubLink,
  demoLink,
} = Astro.props;

import GitIcon from "@icons/GitIcon.astro";
import WorldwwwIcon from "@icons/WorldwwwIcon.astro";
import { Image } from "astro:assets";
---

<div
  class="flex flex-col bg-white dark:bg-slate-800 shadow-md border border-slate-200 dark:border-slate-700 rounded-lg w-96 hover:shadow-lg transition-shadow"
  role="article"
  aria-labelledby="project-title"
>
  <!-- Imagen -->
  <div class="relative h-56 m-2.5 overflow-hidden rounded-md group">
    <img
      src={imageUrl}
      alt={imageAlt}
      class="h-full w-full object-cover transition-transform duration-300 group-hover:scale-105"
      loading="lazy"
      decoding="async"
    />
  </div>
  <!-- Contenido -->
  <div class="p-4">
    <h2
      id="project-title"
      class="text-slate-800 dark:text-white text-xl font-semibold"
    >
      {title}
    </h2>
    <p class="text-slate-600 dark:text-slate-300 leading-relaxed mt-2">
      {description}
    </p>
  </div>
  <!-- Skills -->
  <div class="flex flex-wrap justify-center gap-2 p-4">
    {skills.map((skill) => (
      <button
        class="skill-button"
        aria-label={skill.name}
        type="button"
        title={skill.name}
      >
        <skill.icon class="w-5 h-5" />
      </button>
    ))}
  </div>
  <!-- Botones -->
  <div class="px-4 pb-4 flex gap-2">
    <a
      class="cta-button bg-slate-800 hover:bg-slate-700 dark:bg-slate-700 dark:hover:bg-slate-600"
      href={githubLink}
      title="Ver en GitHub"
      aria-label="GitHub Link"
      target="_blank"
      rel="noopener noreferrer"
    >
      <GitIcon class="h-5 w-5 mr-2" />
      GitHub
    </a>
    <a
      class="cta-button bg-slate-500 hover:bg-slate-600 dark:bg-slate-600 dark:hover:bg-slate-500"
      href={demoLink}
      title="Ver demo"
      aria-label="Demo Link"
      target="_blank"
      rel="noopener noreferrer"
    >
      <WorldwwwIcon class="h-5 w-5 mr-2" />
      Demo
    </a>
  </div>
</div>

<style>
.skill-button {
  @apply rounded-full border border-slate-300 dark:border-slate-600 p-2.5 text-center text-sm shadow-sm transition-all duration-300 hover:shadow-md hover:text-white hover:bg-slate-800 dark:hover:bg-slate-500 focus:outline-none focus:ring-2 focus:ring-slate-700 disabled:opacity-50;
}

.cta-button {
  @apply w-full flex items-center justify-center rounded-md py-2 px-4 text-sm font-medium text-white transition-shadow shadow-md duration-300;
}

.skill-button:hover,
.cta-button:hover {
  transform: scale(1.05);
}

.group:hover img {
  @apply scale-105;
}
</style>
