---
const {
  number = "01",
  title = "Marca",
  color = "brand-red",
  delay = 200,
} = Astro.props;
import SectionBranding from "@components/ui/SectionBranding.astro";
---

<SectionBranding
  class="relative py-16 px-6 md:px-12 lg:px-20 bg-white dark:bg-gray-900"
  aria-labelledby={`section-${number}-title`}
>
  <div class="text-left">
    <!-- Número decorativo -->
    <div class="relative inline-block" aria-hidden="true">
      <span
        class={`block text-[clamp(4rem,15vw,12rem)] font-sans font-bold stroke-current ${color}`}
      >
        {number}
      </span>
      <div class={`h-[3px] w-16 sm:w-32 md:w-48 -mt-4 bg-current ${color}`}>
      </div>
    </div>

    <!-- Título -->
    <h2
      id={`section-${number}-title`}
      class={`mt-6 font-heading text-[clamp(2rem,8vw,7rem)] font-extrabold ${color}`}
      data-aos="fade-up"
      data-aos-delay={delay}
    >
      {title}
    </h2>
  </div>
</SectionBranding>
